{% extends 'components/base.html' %}
{% load static %}


{% block title %}About{% endblock %}

{% block css %}{% endblock %}


{% block content %}


<div  style="background: url({% static 'media/about-vision-main-photo.jpg' %}) center no-repeat; background-size: cover;">

    
    <div class="container py-5">

        
        <h1 class="display-1 fw-normal " style="text-shadow: 1px 1px 2px rgb(0, 0, 0);"> <span style="color:#89B2D4;">VISION &</span> <br> <span style="color:white;">MISSION</span></h1>
    </div>
</div>

<div  style="background-color: #032931;">

    <div class="container d-flex flex-column  flex-md-row justify-content-between py-5" style="background-color: #032931;">
        <div  class="px-3" style="border-left:#89B2D4 2px solid ;" >
        <h2 style="color:#89B2D4;">Vision</h2>
        <p style="color: white;">To be the global leader in innovative and sustainable
            power solutions, driving progress and resilience across
            industries, communities, and environments by delivering
            unparalleled reliability and efficiency.
            Our vision reflects our commitment to staying at the
            forefront of technology, ensuring that our solutions
            empower businesses and individuals to thrive in a world
            that never stops moving.</p>
    </div>

    <div style="border-left:#89B2D4 2px solid ;" class="px-3">
        <h2 style="color:#89B2D4;">Mission</h2>
        <p style="color: white;">Building trust through our unwavering commitment to
            quality, reliability, and innovation.
            To deliver reliable, innovative, and energy-efficient power
            solutions that empower businesses and communities to
            achieve uninterrupted operations. We are dedicated to:
            Providing high-quality generators and UPS systems tailored to
            diverse needs.
            Ensuring exceptional customer service through
            comprehensive support and expertise.
            Building trust through our unwavering commitment to
            quality, reliability, and innovation.</p>
        </div>
    </div>
    
</div>

<div style="background: url('{% static 'media/about-vision-sec-photo.jpg' %}') center no-repeat; background-size: cover; ">
    <div class="container py-5">

        
        <h1 class="display-1 fw-normal text-end" style="text-shadow: 1px 1px 2px rgb(0, 0, 0);"> <span style="color:#89B2D4;">Our</span> <br> <span style="color:white;">GOALS</span></h1>
    </div>
</div>

<div style="background-color: #032931;">

    <ul class="container py-5 flex-column   d-flex">
        <div style=" border-left: 3px #89B2D4 solid;">
            <h2 style="color:#5E84B4; border-bottom: #89B2D4 3px solid;" class="p-3">Expand Global Reach
            </h2>
            <p style="color: aliceblue;" class="p-3">
                Strengthen our presence in existing markets while <br>
                exploring opportunities in emerging regions to serve a <br>
                wider customer base.ddddd
            </p>
        </div>

 <!--  -->
        <hr>
   
        <div style=" border-left: 3px #89B2D4 solid;">
            <h2 style="color:#5E84B4; border-bottom: #89B2D4 3px solid;" class="p-3">Enhance Reliability and Uptime
            </h2>
            <p style="color: aliceblue;" class="p-3">
                Provide seamless power continuity for critical operations,<br>
                ensuring businesses and communities thrive without <br>
                disruption.

            </p>
        </div>

  
        <hr>

    <!--  -->

        <div style=" border-left: 3px #89B2D4 solid;">
            <h2 style="color:#5E84B4; border-bottom: #89B2D4 3px solid;" class="p-3">Deliver Exceptional Power Solutions
            </h2>
            <p style="color: aliceblue;" class="p-3">
                Continuously innovate and provide advanced generator <br>
                and UPS systems to meet the evolving needs of industries <br>
                and communities.
            </p>
        </div>
<!--  -->
    </ul>
</div>

<!-- Bootom section -->

<section class="py-5 ">
    <div class="container">
      <div class="row align-items-center">
        <!-- Text Column -->
        <div class="col-lg-6">
          <h2 class="text-light mb-4">What are we?</h2>
          <hr>
          <p class="text-light text-shadow-lg">
            At Power Solution, we are leaders in providing
            reliable power solutions tailored to industries and
            businesses’ diverse needs.With years of expertise in
            the field, we specialize in high-performance industrial
            generators and UPS systems designed to ensure
            uninterrupted operations in critical environments.
            </p>
          <p class="text-light">
            Our product range includes state-of-the-art diesel
            generators, modular UPS systems and batteries, all
            engineered for optimal efficiency and reliability.
            Whether it's emergency backup power for hospitals,
            sustainable energy for remote locations, or
            dependable systems for data centers, we deliver
            solutions you can trust.</p>
        </div>
        <!-- Video Column -->
        <div class="col-lg-6">
          <div class="ratio ratio-16x9">
            <img src="{% static 'media/maxresdefault.jpg' %}" class="d-block w-100" alt="s">
            <!-- <iframe 
              src="https://www.youtube.com/embed/example" 
              title="Jubaili Bros Corporate Video 2023" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen>
            </iframe> -->
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--  -->


{% endblock %}



{% block js %}
{% endblock %}
