
{% extends 'components/base.html' %}

{% load static %}


{% block meta_description %}

Power solution generator accessories
Explore our wide range of high-quality accessories designed to enhance the performance, convenience, and safety of your generator:
Separate ATS (without cables) 10 poles Socket for automatic panel Automatic mains failure panel with ATS without manual start panel. It replaces the manual panel (6 mt auxiliary cable) Automatic mains failure panel with ATS on board (extra on manual model / equipment “A” version) Oil heater Water heater Oil pump Fuel level indicator Battery detached switch Oil thermometer Water thermometer Lube oil pressure CM-RS232-485 Dual port (max 1km distance) CM-4G-GPS modem GSM-4G + GPS LOCATOR CM-ETHERNET module including web server Radio remote start 100-150 m Remote start with cable and buttons. The Gen Set control unit is on board. Remote start with cable and LOVATO RGK420 (without control unit on board). Slow speed trailer Road trailer (fixed drawbar) Road trailer (height-adj. drawbar) Lifting point (this is standard on soundproof models) Residential silencer (suitable only for open gen sets) Earth fault device - standard with manual panels Electronic governor Single phase version

{% endblock %}

{% block twitter_description %}
Power solution generator accessories
Explore our wide range of high-quality accessories designed to enhance the performance, convenience, and safety of your generator:
Separate ATS (without cables) 10 poles Socket for automatic panel Automatic mains failure panel with ATS without manual start panel. It replaces the manual panel (6 mt auxiliary cable) Automatic mains failure panel with ATS on board (extra on manual model / equipment “A” version) Oil heater Water heater Oil pump Fuel level indicator Battery detached switch Oil thermometer Water thermometer Lube oil pressure CM-RS232-485 Dual port (max 1km distance) CM-4G-GPS modem GSM-4G + GPS LOCATOR CM-ETHERNET module including web server Radio remote start 100-150 m Remote start with cable and buttons. The Gen Set control unit is on board. Remote start with cable and LOVATO RGK420 (without control unit on board). Slow speed trailer Road trailer (fixed drawbar) Road trailer (height-adj. drawbar) Lifting point (this is standard on soundproof models) Residential silencer (suitable only for open gen sets) Earth fault device - standard with manual panels Electronic governor Single phase version
{% endblock %}


{% block og_description %}
Power solution generator accessories
Explore our wide range of high-quality accessories designed to enhance the performance, convenience, and safety of your generator:
Separate ATS (without cables) 10 poles Socket for automatic panel Automatic mains failure panel with ATS without manual start panel. It replaces the manual panel (6 mt auxiliary cable) Automatic mains failure panel with ATS on board (extra on manual model / equipment “A” version) Oil heater Water heater Oil pump Fuel level indicator Battery detached switch Oil thermometer Water thermometer Lube oil pressure CM-RS232-485 Dual port (max 1km distance) CM-4G-GPS modem GSM-4G + GPS LOCATOR CM-ETHERNET module including web server Radio remote start 100-150 m Remote start with cable and buttons. The Gen Set control unit is on board. Remote start with cable and LOVATO RGK420 (without control unit on board). Slow speed trailer Road trailer (fixed drawbar) Road trailer (height-adj. drawbar) Lifting point (this is standard on soundproof models) Residential silencer (suitable only for open gen sets) Earth fault device - standard with manual panels Electronic governor Single phase version
{% endblock %}

{% block og_title %}power solution Generator accessories{% endblock %}


{% block meta_keywords %}Generator accessories, Power Solution, Generators, UPS, Accessories, Power Solution, {% endblock %}








{% block title %}Generator accessories{% endblock %}

{% block css %}

<style>


</style>
{% endblock %}

{% block content %}

<div class="bg-light py-5">

<main class="container">

        <h2 class="text-center py-3 px-5" style="color: #032931;">
            Explore our wide range of high-quality accessories designed to enhance the performance, convenience, and safety of your generator:
        </h2>
        <div class="py-2 bg-dark"></div>
        <section class="bg-light p-1 d-flex justify-content-between" style="border-right: 5px solid #032931;">
            <ul class="fs-4 gap-3 d-flex flex-column">
                <li>

                    Separate ATS (without cables)
                    10 poles Socket for automatic panel
                </li>
                <li>
    
                    Automatic mains failure panel with ATS
                    without manual start panel. It replaces
                    the manual panel (6 mt auxiliary cable)
                </li>
    
                <li>
    
                    Automatic mains failure panel with ATS
                    on board (extra on manual model /
                    equipment “A” version)
                </li>
                <li>

                    Oil heater
                    </li>
                    <li>
                    Water heater
                    </li>
                    <li>
                    Oil pump
                    </li>
                    <li>
                    Fuel level indicator
                    </li>

                    
        <li>

            Battery detached switch
            </li>
            <li>
    
            Oil thermometer
            </li>
            <li>
    
            Water thermometer
            </li>
    
            <li>
            Lube oil pressure
            </li>
            </ul>
                    

        <img
        src="{% static 'media/acessories-generatoes.jpeg' %}" 
        alt="accessories-generators-power-solution"
        class=""
        style="height:fit-content"
        />

        </section>

        <ul class="px-5 mx-5 fs-4 gap-3 container d-flex flex-column" style="border-left: 5px solid #032931;">
           
       

        <li>
        CM-RS232-485 Dual port (max 1km
        distance)
        </li>

        <li>
        CM-4G-GPS modem GSM-4G + GPS
        LOCATOR
        </li>

        <li>
        CM-ETHERNET module including web
        server
        </li>

        <li>
        Radio remote start 100-150 m
        </li>

        <li>
        Remote start with cable and buttons.
        The Gen Set control unit is on board.
        </li>

        <li>
        Remote start with cable and LOVATO
        RGK420 (without control unit on
        board).
        </li>
        <li>
        Slow speed trailer
        </li>

        <li>
        Road trailer (fixed drawbar)
        </li>

        <li>

        Road trailer (height-adj. drawbar)
        </li>

        <li>

        Lifting point (this is standard on
        soundproof models)
        </li>

        <li>

        Residential silencer (suitable only for
        open gen sets)
        </li>

        <li>

        Earth fault device - standard with
        manual panels
        </li>

        <li>

        Electronic governor
        </li>

        <li>

        Single phase version
        </li>
</ul>

</main>
</div>

    {% endblock %}




{% block js %}
{% endblock %}
