{% extends 'components/base.html' %}
{% load static %}


{% block meta_description %}
powersolution {{product.name}} details
{{ product.name }} : {{product.description}}
{% endblock %}

{% block twitter_description %}
powersolution {{product.name}} details
{{ product.name }} : {{product.description}}
{% endblock %}

{% block og_image %}{{thumbnail_url}}{% endblock %}
{% block og_description %}
powersolution {{product.name}} details
{{ product.name }} : {{product.description}}
{% endblock %}

{% block og_title %}power solution {{product.name}} details{% endblock %}

{% block meta_keywords %} {{product.name}} details,  {{product.name}} Power Solution, Generators, UPS, Accessories, Power Solution, {{product.name}} {% endblock %}


{% block title %}{{product.name}} Details{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'framework/css/bootstrap-icons.css' %}">
<style>

.card {
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition:  0.3s;
    background-color: rgb(207, 210, 210);
  }


  .card img{
    object-fit: cover;
    height: 40%;
    object-position: center center;
    
  }

  .card:hover {
    transform: translateY(-5px);
    background-color: rgb(153, 158, 164);
    border-bottom: #0056b3 solid 10px;
  }
  .card:hover img{
    opacity: 0.5;
    
    background-color: #0056b3;
  }
  .card-title {
    font-weight: bold;
  }
  .btn-read-more {
    background-color: #0056b3;
    color: white;
    border: none;
  }
  .btn-read-more:hover {
    background-color: #003d80;
  }
  @media (max-width: 576px) {
    .card {
      padding: 10px;
      font-size: 0.9rem; /* Reduce font size */
    }
    .card img {
      height: 150px; /* Smaller images */
      object-fit: cover;
    }
  
  }
    </style>
{% endblock %}

{% block content %}


<div class="container my-5 text-light">
    <!-- Product Detail Section -->
    <div class="row">
        <!-- Product Image and Thumbnails -->
        <div class="col-md-6">
            <!-- Main Product Image -->
            <style>
                #mainImage {
                    transition: transform 0.3s ease;
                    transform-origin: center center;
                }
                #mainImage:hover {
                    transform: scale(2); /* Zoom in by 2 times */
                }
               
                
                .sssss{
                    position: relative; width: 500px; height: 500;
                }
                .bg-C{
                    background-color: #032931;
                }
                .text-C{
                    color: #032931;
                }
                .btn-C{
              
                    color: white;
                    transition: .2s;
                }
                .btn-C:hover{
                    background-color: #003d80;
                }
                .Thumbnails img{
                    cursor: pointer;
                }
                .Thumbnails img:hover{
                    transform: scale(1.1);
                    filter: opacity(0.5);
                }
                @media (max-width: 1200px) {
                    .sssss{
                        position: relative; width: 300px; height: 300px;
                    }
                    
                }
                @media (max-width: 768px) {
                    .sssss{
                        position: relative; width: 500px; height: 500px;
                    }
                    
                }
                @media (max-width: 520px) {
                    .sssss{
                        position: relative; width: 300px; height: 300px;
                    }
                    
                }
                </style>
            
            <!-- Thumbnail Images -->
            <div class="d-flex flex-wrap gap-2 Thumbnails py-3">
                <img src="{{product.thumbnail.url }}" alt="{{product.name}}"                  style="border:2px solid #032931;width: 60px; height: 60px; object-fit: cover;" onclick="changeImage(this.src)">
                {% for photo in other_photos %}
                <img src="{{photo.image.url}}" alt="{{product.name}}"                      style="border:2px solid #032931;width: 60px; height: 60px; object-fit: cover;" onclick="changeImage(this.src)">
                {% endfor %}
            </div>


            <!--  -->
            <div class="my-3 overflow-hidden sssss" >
                <img 
                    id="mainImage" 
                    src="{{product.thumbnail.url}}"
                    alt="{{product.name}}"
                    class="border border-secondary border-1 shadow-lg rounded img-fluid"
                    style="
                    position: relative; width: 100%;
                    height: 100%;cursor: pointer;
            
                    "
                    >
                    
            </div>
            
           
            
            
        </div>
        <!--  -->

        
        <!--  -->
        <!-- Product Details -->
        <div class="col-md-6  flex-sm  flex-sm-row" style="border-left : #032931 solid 4px;">
            <h1 class="fw-bold">{{product.name}}</h1>
            
   
            <p class="mt-4">
                <ul>

                    {% for highlight in highlights %}
                     <li>
                        {{highlight.name}}
                     </li>
                    {% endfor %}
                </ul>
             </p>
            <div class="d-flex gap-2 mt-4">
                <a class="btn btn-C btn-lg bg-C" href="{% url 'request-info' product.slug %}">Request Information</a>

            </div>
        </div>
    </div>
</div>


    <!-- ENd first cointainer -->
<!-- Description -->

<div class="container my-5">


    
    <!-- Details and Policy Section -->
    <div class="row text-light">
        
        <!-- Description and Reviews -->
        <div class="col-md-8">
            
            <h3 class="fw-bold mb-4 text-C">Description</h3>
            <p>
                {{ product.description }}
            </p>
            <hr class="my-4">
            
            
        </div>



<!-- end add review -->

        <!-- Policies and Features -->
        <div class="col-md-4 border-start  border-secondary">
            <h3 class="fw-bold mb-4 text-C">Our Policies</h3>
            <ul class="list-unstyled">


                {% comment %}  {% endcomment %}
                <li class="d-flex align-items-start mb-3">
                    <span class="me-3 text-C">
                        <i class="bi bi-person fs-4"></i>
                    </span>
                    <div>
                        <h5 class="fw-bold mb-1">Customer Satisfaction Policy</h5>
                        <p class="mb-0">We strive to understand and fulfill each client’s unique needs.</p>
                    </div>
                </li>

                <li class="d-flex align-items-start mb-3">
                    <span class="me-3 text-C">
                        <i class="bi bi-shield-check fs-4"></i>
                    </span>
                    <div>
                        <h5 class="fw-bold mb-1">Safety and Compliance Policy</h5>
                        <p class="mb-0">Staff and technicians are trained to uphold safety protocols during installation and maintenance.</p>
                    </div>
                </li>
                <li class="d-flex align-items-start mb-3">
                    <span class="me-3 text-C">
                        <i class="bi bi-headset fs-4"></i>
                    </span>
                    <div>
                        <h5 class="fw-bold mb-1">technical support</h5>
                        <p class="mb-0">Chat and Phone</p>
                    </div>
                </li>
                <li class="d-flex align-items-start mb-3">
                    <span class="me-3 text-C">
                       
                        <i class="bi bi-headset fs-4"></i>
                    </span>
                    <div>
                        <h5 class="fw-bold mb-1">After-Sales Service Policy</h5>
                        <p class="mb-0">Availability of spare parts and regular servicing to extend the product lifespan</p>
                    </div>
                </li>
               
               
               
            </ul>
        </div>
    </div>
</div>

<!-- end description -->



<!-- Suggested Products -->

    <hr>
    <h3 class="mb-4   text-start px-5 text-light ">Suggested </h3>
    <hr>
    <div class="container py-5">
        <div class="row g-4">
            
      {% for ups in other %}

      <a href="{% url 'detail' ups.slug %}" class="col-lg-3 col-md-6   col-sm-12 text-decoration-none">
          <div class="card h-100">
          <img src="{{ ups.thumbnail.url }}" class="card-img-top" alt="{{ ups.name }}">
          <div class="card-body text-center">
            <h5 class="card-title">{{ ups.name|truncatechars:40 }}</h5>

            <p class="card-text">{{ ups.description|truncatechars:300 }}</p>

        </div>
        </div>
    </a>
    {% endfor %}
    
    
</div>
</div>

    {% endblock %}

{% block js %}
<script>
    const mainImage = document.getElementById('mainImage');

    mainImage.addEventListener('mousemove', (e) => {
        const { left, top, width, height } = mainImage.getBoundingClientRect();
        const x = ((e.clientX - left) / width) * 100;
        const y = ((e.clientY - top) / height) * 100;

        mainImage.style.transformOrigin = `${x}% ${y}%`;
    });
</script>

<script>
    // JavaScript to change the main image when a thumbnail is clicked
    function changeImage(src) {
        document.getElementById('mainImage').src = src;
    }
</script>

{% endblock %}
