{% extends 'components/base.html' %}
{% load static %}

{% block meta_description %}
power solution ferbo {{ferbo.name}} details 
xcel sheet for {{ferbo.name}}
{% endblock %}

{% block twitter_description %}
power solution ferbo {{ferbo.name}} details 
xcel sheet for {{ferbo.name}}
{% endblock %}

{% block og_image %}{{ferbo.image.url}}{% endblock %}
{% block og_description %}
power solution ferbo {{ferbo.name}} details 
xcel sheet for {{ferbo.name}}
{% endblock %}
{% block og_title %}power solution {{ferbo.name}} details{% endblock %}

{% block meta_keywords %}ferbo {{ferbo.name}} details, ferbo, Power Solution, Generators, UPS, Accessories, Power Solution, {{ferbo.name}} {% endblock %}

{% block title %}{{ ferbo.name }} Details{% endblock %}

{% block css %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        word-wrap: break-word; 
    }
    th {
        background-color: #f4f4f4;
        font-weight: bold;
    }

    .table-container {
        max-width: 100%; 
        overflow-x: auto; 
        overflow-y: hidden; 
        text-wrap: nowrap;
    }
    table {
        min-width: 100%; 
        border-collapse: collapse;
        margin-top: 20px;
    }
    .table-container thead th{
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<h1 class="text-center py-5 px-5" style="color: #032931;">Contents of {{ ferbo.name }}'s Excel File</h1>
<div class="container text-center">
    <img src="{{ferbo.image.url}}" class="img-fluid rounded-2" alt="ferbo image {{ferbo.name}}">
</div>
<section class="container rounded-2 my-5 p-5 w-100 bg-dark text-light">
    <div class="table-container">
        <table 
        class=" table table-bordered table-light"
        id="excel-table">
        <thead class="table-light bg-light">

           <tr>
            <th >Model</th>
            <th >POWER PRP</th>
            <th>POWER LTP</th>
            <th >ENGINE TYPE	</th>
            <th colspan="3">ALTERNATOR</th>
            <th>DIMENSIONS L X W X H</th>
            <th>WEIGHT</th>
           </tr>

           <!--  -->
           <tr>
            <th></th>
            <th>KVA</th>
            <th>KVA</th>
            <th></th>
            <th>LEROY</th>
            <th>MEC</th>
            <th>STAM</th>
            <th>mm</th>
            <th>kg</th>
           </tr>
           </thead>
<!--  -->
        <tbody class="table-dark text-light bg-dark">

        </tbody>

        </table>
    </div>
</section>



{% endblock %}

{% block js %}
<script src="{% static 'framework/js/xlsx.js' %}"></script>

<script>

const fileUrl = "{{ ferbo.xlsx.url }}"; 
let firstOp   = true 
async function displayExcel() {
    const response = await fetch(fileUrl);
    const arrayBuffer = await response.arrayBuffer();
    const data = new Uint8Array(arrayBuffer);
    const workbook = XLSX.read(data, { type: "array" });


    const sheetName = workbook.SheetNames[0];
    const worksheet = workbook.Sheets[sheetName];

    let sheetData = XLSX.utils.sheet_to_json(worksheet, { header: 1 });
    sheetData = sheetData.slice(1)
    firstRow  = sheetData.shift()
    sheetData = sheetData.slice(1)
    secRow    =     firstRow  = sheetData.shift()
    sheetData.pop()
// starter operation and handler of the xlsx Formate





// 


    const table = document.querySelector("#excel-table tbody");
    table.innerHTML = ""; 

    sheetData.slice(2).forEach(row => {
        const tr = document.createElement("tr");
        if (firstOp){
            firstOp = !firstOp
            const name = row[1];
            const powerPRP = row[7];
            const powerLTP = row[12];
            const engineType = row[16];
            const leroy = row[24];
            const mec = row[32];
            const stam = row[38];
            const mm = row[45];
            const Kg = row[53];
            
            // Create and append the 'name' cell
            var tdName = document.createElement("td");
            tdName.textContent = name !== undefined ? name : "";
            tr.appendChild(tdName);

            // Create and append the 'powerPRP' cell
            var tdpowerPRP = document.createElement("td");
            tdpowerPRP.rowSpan = 2;

            tdpowerPRP.textContent = powerPRP !== undefined ? powerPRP : "";
            tr.appendChild(tdpowerPRP);

            // Create and append the 'powerLTP' cell
            var tdpowerLTP = document.createElement("td");
            tdpowerLTP.textContent = powerLTP !== undefined ? powerLTP : "";
            tdpowerLTP.rowSpan = 2
            tr.appendChild(tdpowerLTP);

            // Create and append the 'engineType' cell
            var tdEngineType = document.createElement("td");
            tdEngineType.rowSpan = 2;
            tdEngineType.textContent = engineType !== undefined ? engineType : "";
            tr.appendChild(tdEngineType);

            // Create and append the 'leroy' cell
            var tdLeroy = document.createElement("td");
            tdLeroy.rowSpan = 2;
            tdLeroy.textContent = leroy !== undefined ? leroy : "";
            tr.appendChild(tdLeroy);

            // Create and append the 'mec' cell
            var tdMec = document.createElement("td");
            tdMec.rowSpan = 2;
            tdMec.textContent = mec !== undefined ? mec : "";
            tr.appendChild(tdMec);

            // Create and append the 'stam' cell
            var tdStam = document.createElement("td");
            tdStam.rowSpan = 2;
            tdStam.textContent = stam !== undefined ? stam : "";
            tr.appendChild(tdStam);

            // Create and append the 'mm' cell
            var tdMm = document.createElement("td");
            tdMm.textContent = mm !== undefined ? mm : "";
            tr.appendChild(tdMm);

            // Create and append the 'Kg' cell
            var tdKg = document.createElement("td");
            tdKg.textContent = Kg !== undefined ? Kg : "";
            tr.appendChild(tdKg);

            // Append the row to the table
            table.appendChild(tr);

        } else{
          
            firstOp = !firstOp
            const name = row[1];
            const mm = row[45];
            const Kg = row[53];
            
            var nametd = document.createElement("td");
            nametd.textContent = name !== undefined ? name : "";
            tr.appendChild(nametd);

            var tdMm = document.createElement("td");
            tdMm.textContent = mm !== undefined ? mm : "";
            tr.appendChild(tdMm);

            // Create and append the 'Kg' cell
            var tdKg = document.createElement("td");
            tdKg.textContent = Kg !== undefined ? Kg : "";
            tr.appendChild(tdKg);


            table.appendChild(tr);
        }
        
    });
}


displayExcel();

</script>

{% endblock %}
