{% extends 'components/base.html' %}
{% load static %}

{% block meta_description %}
power solution ferbo {{ferbo.name}} details 
xcel sheet for {{ferbo.name}}
{% endblock %}

{% block twitter_description %}
power solution ferbo {{ferbo.name}} details 
xcel sheet for {{ferbo.name}}
{% endblock %}

{% block og_image %}{{ferbo.image.url}}{% endblock %}
{% block og_description %}
power solution ferbo {{ferbo.name}} details 
xcel sheet for {{ferbo.name}}
{% endblock %}
{% block og_title %}power solution {{ferbo.name}} details{% endblock %}

{% block meta_keywords %}ferbo {{ferbo.name}} details, ferbo, Power Solution, Generators, UPS, Accessories, Power Solution, {{ferbo.name}} {% endblock %}

{% block title %}{{ ferbo.name }} Details{% endblock %}

{% block css %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        word-wrap: break-word; 
    }
    th {
        background-color: #f4f4f4;
        font-weight: bold;
    }

    .table-container {
        max-width: 100%; 
        overflow-x: auto; 
        overflow-y: hidden; 
    }
    table {
        min-width: 100%; 
        border-collapse: collapse;
        margin-top: 20px;
    }
</style>
{% endblock %}

{% block content %}
<h1 class="text-center py-5 px-5" style="color: #032931;">Contents of {{ ferbo.name }}'s Excel File</h1>
<section class="container rounded-2 my-5 p-5 w-100 bg-dark text-light">
    <div class="table-container">
        <table 
        class="fs-4 fw-bold"
        id="excel-table">


        </table>
    </div>
</section>



{% endblock %}

{% block js %}
<script src="{% static 'framework/js/xlsx.js' %}"></script>

<script>

const fileUrl = "{{ ferbo.xlsx.url }}"; 

async function displayExcel() {
    const response = await fetch(fileUrl);
    const arrayBuffer = await response.arrayBuffer();
    const data = new Uint8Array(arrayBuffer);
    const workbook = XLSX.read(data, { type: "array" });


    const sheetName = workbook.SheetNames[0];
    const worksheet = workbook.Sheets[sheetName];


    const sheetData = XLSX.utils.sheet_to_json(worksheet, { header: 1 });


    const table = document.getElementById("excel-table");
    table.innerHTML = ""; 

    sheetData.slice(2).forEach(row => {
        const tr = document.createElement("tr");
        row.forEach(cell => {
            const td = document.createElement("td");
            td.textContent = cell !== undefined ? cell : ""; 
            tr.appendChild(td);
        });
        table.appendChild(tr);
    });
}


displayExcel();

</script>

{% endblock %}
