{% extends 'components/base.html' %}
{% load static %}




{% block og_title %}power solution Po-so{% endblock %}
{% block og_description %} 
Power solution po-so 
JET (Jubaili Engineering Technology) known as JET Diesel Generators 
Our manufactured Diesel Generator Sets provide superior quality at reasonable cost, catering to a wide range of Jubaili Bros’ clients all across the Globe. These Generator Sets are Assembled in Lebanon and the United Arab Emirates (UAE)  
As a diesel generator supplier, Jubaili Bros offers extensive range from 9 KVA up to 2500 KVA, to match the need and demand of the markets. We are honoured to power the industries that drives the regional economy : construction, oil & gas, mining, service sectors, businesses, industrial, power stations and many more…
JET Generators are powered by Perkins engines and coupled with Leroy-Somer alternators, along with Deep Sea controllers and ABB components. Perkins is a well-known and reputable product in the generators’ market, catering the power needs in remote regions and extreme climates from Asia, Middle East, Africa and all over the world
With an abundant stock of fast-moving spare parts and through our supply chain partners, we ensure consistent supply of Genuine Spare Parts & Accessories and that too with a minimal response time.
Backed with excellent After Sales Support and Service from Extensive Dealer Network and fleet of well experienced engineers, Jubaili Bros is always ready to support its customers anytime anywhere.
As a leading generator supplier, Jubaili Bros offers customized solutions. All you need to do is select the best solution for your projects / businesses and we will do the rest.
We offer a wide selection of prime and standby models at both 50Hz and 60Hz for all applications with applicable voltage ranging from 380V to 415V for 50Hz uses and 380V to 480V for 60Hz uses. These generating sets are of fixed speed of either 1500 rpm or 1800 rpm.
JET Diesel Generators carry one year Warranty against manufacturing defects, which is in line with manufacturer’s Warranty terms and conditions.
To know more about JET Brand Diesel Generators, please email us with your requirements.
 {% endblock %}

{% block meta_keywords%}
JET DIESEL GENERATORS, POSO9, POSO12.5, POSO15, POSO20, POSO30, POSO45, POSO60, POSO80, POSO100, POSO135, POSO150, POSO180, POSO200, POSO230, POSO250, POSO275, POSO300, POSO350, POSO400, POSO450, POSO500, POSO600, POSO650, POSO700, POSO750, POSO770, POSO800, POSO1000
{% endblock %}

{% block meta_description %}
 Power solution po-so 
 JET (Jubaili Engineering Technology) known as JET Diesel Generators 
 Our manufactured Diesel Generator Sets provide superior quality at reasonable cost, catering to a wide range of Jubaili Bros’ clients all across the Globe. These Generator Sets are Assembled in Lebanon and the United Arab Emirates (UAE)  
 As a diesel generator supplier, Jubaili Bros offers extensive range from 9 KVA up to 2500 KVA, to match the need and demand of the markets. We are honoured to power the industries that drives the regional economy : construction, oil & gas, mining, service sectors, businesses, industrial, power stations and many more…
 JET Generators are powered by Perkins engines and coupled with Leroy-Somer alternators, along with Deep Sea controllers and ABB components. Perkins is a well-known and reputable product in the generators’ market, catering the power needs in remote regions and extreme climates from Asia, Middle East, Africa and all over the world
 With an abundant stock of fast-moving spare parts and through our supply chain partners, we ensure consistent supply of Genuine Spare Parts & Accessories and that too with a minimal response time.
 Backed with excellent After Sales Support and Service from Extensive Dealer Network and fleet of well experienced engineers, Jubaili Bros is always ready to support its customers anytime anywhere.
 As a leading generator supplier, Jubaili Bros offers customized solutions. All you need to do is select the best solution for your projects / businesses and we will do the rest.
 We offer a wide selection of prime and standby models at both 50Hz and 60Hz for all applications with applicable voltage ranging from 380V to 415V for 50Hz uses and 380V to 480V for 60Hz uses. These generating sets are of fixed speed of either 1500 rpm or 1800 rpm.
 JET Diesel Generators carry one year Warranty against manufacturing defects, which is in line with manufacturer’s Warranty terms and conditions.
 To know more about JET Brand Diesel Generators, please email us with your requirements.
 {% endblock %}


{% block title %}Po-so{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<section class="bg-light p-1">
    <div class="container" id="poso">

        <h1>JET DIESEL GENERATORS</h1>
        <div class="py-1" style="background: #032931;"> </div>
        <p class="mt-3">
            JET (Jubaili Engineering Technology) known as JET Diesel Generators <br>
<br>

            Our manufactured Diesel Generator Sets provide superior quality at reasonable cost, catering to a wide range of Jubaili Bros’ clients all across the Globe. These Generator Sets are Assembled in Lebanon and the United Arab Emirates (UAE) 
            <br> <br>

            As a diesel generator supplier, Jubaili Bros offers extensive range from 9 KVA up to 2500 KVA, to match the need and demand of the markets. We are honoured to power the industries that drives the regional economy : construction, oil & gas, mining, service sectors, businesses, industrial, power stations and many more…
<br><br>
            JET Generators are powered by Perkins engines and coupled with Leroy-Somer alternators, along with Deep Sea controllers and ABB components. Perkins is a well-known and reputable product in the generators’ market, catering the power needs in remote regions and extreme climates from Asia, Middle East, Africa and all over the world
 <br><br>
            With an abundant stock of fast-moving spare parts and through our supply chain partners, we ensure consistent supply of Genuine Spare Parts & Accessories and that too with a minimal response time.
 <br><br>
            Backed with excellent After Sales Support and Service from Extensive Dealer Network and fleet of well experienced engineers, Jubaili Bros is always ready to support its customers anytime anywhere.
 <br><br>
            As a leading generator supplier, Jubaili Bros offers customized solutions. All you need to do is select the best solution for your projects / businesses and we will do the rest.
 <br><br>
            We offer a wide selection of prime and standby models at both 50Hz and 60Hz for all applications with applicable voltage ranging from 380V to 415V for 50Hz uses and 380V to 480V for 60Hz uses. These generating sets are of fixed speed of either 1500 rpm or 1800 rpm.
 <br><br>
            JET Diesel Generators carry one year Warranty against manufacturing defects, which is in line with manufacturer’s Warranty terms and conditions.
 <br><br>
            To know more about JET Brand Diesel Generators, please email us with your requirements.


        </p>

    </div>
</section>

<div class="py-3" style="background: #032931;"> </div>

<main class="bg-secondary">
<section class="container p-5">

<table class="table table-bordered table-light text-center">
    <thead class="table-dark ">
        <tr>
            <th rowspan="4" class="align-middle">Generating Set</th>
            <th rowspan="4" class="align-middle">Perkins Engine</th>
            <th rowspan="4" class="align-middle">RPM</th>
            <th colspan="4"
            > Rating</th>
        <tr>
      <tr>

        <th colspan="2" class="align-middle">KVA</th>
        <th colspan="2" class="align-middle">KW</th>
      </tr>
      <tr>

        <th>Prime</th>
        <th>Standby</th>
        <th>Prime</th>
        <th>Standby</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong><span class="">POSO</span>9</strong></td>
        <td>403A-11G1</td>
        <td>1500</td>
        <td>9.0</td>
        <td>10.0</td>
        <td>7.2</td>
        <td>8.0</td>
      </tr>
      <tr>
        <td><strong><span class="">POSO</span>12.5</strong></td>
        <td>403A-15G1</td>
        <td>1500</td>
        <td>12.5</td>
        <td>14.0</td>
        <td>10.0</td>
        <td>11.2</td>
      </tr>
      <tr>
        <td><strong><span class="">POSO</span>15</strong></td>
        <td>403A-15G2</td>
        <td>1500</td>
        <td>15.0</td>
        <td>16.5</td>
        <td>12.0</td>
        <td>13.2</td>
      </tr>
      <tr>
        <td><strong><span class="">POSO</span>20</strong></td>
        <td>404A-22G1</td>
        <td>1500</td>
        <td>20.0</td>
        <td>22.0</td>
        <td>16.0</td>
        <td>17.6</td>
      </tr>
      <tr>
        <td><strong><span class="">POSO</span>30</strong></td>
        <td>1103A-33G</td>
        <td>1500</td>
        <td>30.0</td>
        <td>33.0</td>
        <td>24.0</td>
        <td>26.4</td>
      </tr>
      <tr>
        <td><strong>POSO45</strong></td>
        <td>1103A-33TG1</td>
        <td>1500</td>
        <td>45.0</td>
        <td>50.0</td>
        <td>36.0</td>
        <td>40.0</td>
      </tr>
      <tr>
        <td><strong>POSO60</strong></td>
        <td>1103A-33TG2</td>
        <td>1500</td>
        <td>60.0</td>
        <td>66.0</td>
        <td>48.0</td>
        <td>52.8</td>
      </tr>
      <tr>
        <td><strong>POSO80</strong></td>
        <td>1104A-44TG2</td>
        <td>1500</td>
        <td>80.0</td>
        <td>88.0</td>
        <td>64.0</td>
        <td>70.4</td>
      </tr>
      <tr>
        <td><strong>POSO100</strong></td>
        <td>1104C-44TAG2</td>
        <td>1500</td>
        <td>100.0</td>
        <td>110.0</td>
        <td>80.0</td>
        <td>88.0</td>
      </tr>
      <tr>
        <td><strong>POSO135</strong></td>
        <td>1106A-70TG1</td>
        <td>1500</td>
        <td>135.0</td>
        <td>150.0</td>
        <td>108.0</td>
        <td>120.0</td>
      </tr>
      <tr>
        <td><strong>POSO150</strong></td>
        <td>1106A-70TAG2</td>
        <td>1500</td>
        <td>150.0</td>
        <td>165.0</td>
        <td>120.0</td>
        <td>132.0</td>
      </tr>
      <tr>
        <td><strong>POSO180</strong></td>
        <td>1106A-70TAG3</td>
        <td>1500</td>
        <td>180.0</td>
        <td>200.0</td>
        <td>144.0</td>
        <td>160.0</td>
      </tr>
      <tr>
        <td><strong>POSO200</strong></td>
        <td>1106A-70TAG4</td>
        <td>1500</td>
        <td>200.0</td>
        <td>220.0</td>
        <td>160.0</td>
        <td>176.0</td>
      </tr>
      <tr>
        <td><strong>POSO230</strong></td>
        <td>1206A-E70TTAG2</td>
        <td>1500</td>
        <td>230.0</td>
        <td>253.0</td>
        <td>184.0</td>
        <td>202.4</td>
      </tr>
      <tr>
        <td><strong>POSO250</strong></td>
        <td>1206A-E70TTAG3</td>
        <td>1500</td>
        <td>250.0</td>
        <td>275.0</td>
        <td>200.0</td>
        <td>220.0</td>
      </tr>
      <tr>
        <td><strong>POSO275</strong></td>
        <td>1506A-E88TAG4</td>
        <td>1500</td>
        <td>275.0</td>
        <td>300.0</td>
        <td>220.0</td>
        <td>240.0</td>
      </tr>
      <tr>
        <td><strong>POSO300</strong></td>
        <td>1506A-E88TAG5</td>
        <td>1500</td>
        <td>300.0</td>
        <td>330.0</td>
        <td>240.0</td>
        <td>264.0</td>
      </tr>
      <tr>
        <td><strong>POSO350</strong></td>
        <td>2206A-E13TAG2</td>
        <td>1500</td>
        <td>350.0</td>
        <td>400.0</td>
        <td>280.0</td>
        <td>320.0</td>
      </tr>
      <tr>
        <td><strong>POSO400</strong></td>
        <td>2206A-E13TAG3</td>
        <td>1500</td>
        <td>400.0</td>
        <td>450.0</td>
        <td>320.0</td>
        <td>360.0</td>
      </tr>
      <tr>
        <td><strong>POSO450</strong></td>
        <td>2506A-E15TAG1</td>
        <td>1500</td>
        <td>455.0</td>
        <td>500.0</td>
        <td>364.0</td>
        <td>400.0</td>
      </tr>
      <tr>
        <td><strong>POSO500</strong></td>
        <td>2506A-E15TAG2</td>
        <td>1500</td>
        <td>500.0</td>
        <td>550.0</td>
        <td>400.0</td>
        <td>440.0</td>
      </tr>
      <tr>
        <td><strong>POSO600</strong></td>
        <td>2806A-E18TAG1A</td>
        <td>1500</td>
        <td>600.0</td>
        <td>660.0</td>
        <td>480.0</td>
        <td>528.0</td>
      </tr>
      <tr>
        <td><strong>POSO650</strong></td>
        <td>2806A-E18TAG2</td>
        <td>1500</td>
        <td>650.0</td>
        <td>700.0</td>
        <td>520.0</td>
        <td>560.0</td>
      </tr>
      <tr>
        <td><strong>POSO700</strong></td>
        <td>2806A-E18TAG4</td>
        <td>1500</td>
        <td>706.0</td>
        <td>780.0</td>
        <td>564.8</td>
        <td>624.0</td>
      </tr>
      <tr>
        <td><strong>POSO750</strong></td>
        <td>4006-23TAG2A</td>
        <td>1500</td>
        <td>750.0</td>
        <td>825.0</td>
        <td>600.0</td>
        <td>660.0</td>
      </tr>
      <tr>
        <td><strong>POSO770</strong></td>
        <td>2806A-E18TAG5</td>
        <td>1500</td>
        <td>770.0</td>
        <td>850.0</td>
        <td>616.0</td>
        <td>680.0</td>
      </tr>
      <tr>
        <td><strong>POSO800</strong></td>
        <td>4006-23TAG3A</td>
        <td>1500</td>
        <td>800.0</td>
        <td>880.0</td>
        <td>640.0</td>
        <td>704.0</td>
      </tr>
      <tr>
        <td><strong>POSO1000</strong></td>
        <td>4008-30TAG2</td>
        <td>1500</td>
        <td>1000.0</td>
        <td>1100.0</td>
        <td>800.0</td>
        <td>880.0</td>
      </tr>
    </tbody>
  </table>
</section>

</main>
  
{% endblock %}



{% block js %}
{% endblock %}
