{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}|Power Solution</title>
    {% comment %}  {% endcomment %}

    <!-- Meta Description -->
    <meta name="description" content="{% block meta_description %}Default description of your page{% endblock %}">
    
    <!-- Meta Keywords -->
    <meta name="keywords" content="Power Solution, energy, sustainable solutions{% block meta_keywords %}{% endblock %}">
    
    <!-- Meta Author -->
    <meta name="author" content="Your Name or Company">
    
    <!-- Open Graph Meta Tags for Social Media -->
    <meta property="og:title" content="{% block og_title %}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% endblock %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% block twitter_title %}{% endblock %}">
    <meta name="twitter:description" content="{% block twitter_description %}{% endblock %}">
    <meta name="twitter:image" content="{% block twitter_image %}{% endblock %}">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    {% comment %}  {% endcomment %}
    <style>
        *{
            scroll-behavior: smooth !important;
            
        }

    </style>
    <link rel="stylesheet" href="{% static 'framework/css/bootstrap.css' %}">
    
    {% block css %}{% endblock %}

</head>
<body class="" style="background: #7B98B5;">
    <!--  -->
    {% include 'components/nav.html' %}
    <!--  -->
    {% if messages %}
        {% include 'components/alert.html' %}
    {% endif %}
    <!--  -->
    {% block content %}{% endblock %}
    <!--  -->
    {% include 'components/footer.html' %}
    <!--  -->

    <script src="{% static 'framework/js/jquery.js' %}"></script>
    <script src="{% static 'framework/js/bootstrap.js' %}"></script>
    <script src="{% static 'framework/js/propper.js' %}"></script>

    {% block js %}
    {% endblock %}

</body>
</html>