{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}|Power Solution</title>
    {% comment %}  {% endcomment %}

    <!-- Meta Description -->
    <!--Done--> <meta name="description" content="{% block meta_description %}{% endblock %}">
    
    <!-- Meta Keywords -->
    <meta name="keywords" content="powersolution,Power Solution, energy, sustainable solutions{% block meta_keywords %}{% endblock %}">
    
    <!-- Meta Author -->
    <!--Done--><meta name="author" content="Power solution">
    
    <!-- Open Graph Meta Tags for Social Media -->
     <!--Done--><meta property="og:title"        content="{% block og_title %}{% endblock %}">
     <!--Done--><meta property="og:description"  content="{% block og_description %}{% endblock %}">
     <!--Done--><meta property="og:image"        content="{% block og_image %}{{ ABSOLUTE_IMAGE_URL }}{% endblock %}">
     <!--Done--><meta property="og:url"          content="{{ request.build_absolute_uri }}">
     <!--Done--><meta property="og:type"         content="website">
    
    <!-- Twitter Card Meta Tags -->
    
    <meta name="twitter:title"        content="{% block twitter_title %}Power solutions{% endblock %}">
    <meta name="twitter:description"  content="{% block twitter_description %}
At Power Solution, we are leaders in providing
reliable power solutions tailored to industries and
businesses’ diverse needs.With years of expertise in
the field, we specialize in high-performance industrial
generators and UPS systems designed to ensure
uninterrupted operations in critical environments. {% endblock %}">
    <meta name="twitter:image"        content="{% block twitter_image %}{{ ABSOLUTE_IMAGE_URL}}{% endblock %}">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'media/high_res_image.ico' %}" type="image/x-icon">
{% comment %}  {% endcomment %}

    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <meta property="og:locale" content="ar_AR" />

    {% comment %}  {% endcomment %}
    <style>
        *{
            scroll-behavior: smooth !important;
            
        }

    </style>
    <link rel="stylesheet" href="{% static 'framework/css/bootstrap.css' %}">
    
    {% block css %}{% endblock %}

</head>
<body class="" style="background: #7B98B5;">
    <!--  -->
    {% include 'components/nav.html' %}
    <!--  -->
    {% if messages %}
        {% include 'components/alert.html' %}
    {% endif %}
    <!--  -->
    {% block content %}{% endblock %}
    <!--  -->
    {% include 'components/footer.html' %}
    <!--  -->

    <script src="{% static 'framework/js/jquery.js' %}"></script>
    <script src="{% static 'framework/js/bootstrap.js' %}"></script>
    <script src="{% static 'framework/js/propper.js' %}"></script>

    {% block js %}
    {% endblock %}

</body>
</html>