<form style="background-color: #032931e9;" class="p-2 m-5 rounded-3 p-md-3  text-light  fw-bold">

    <h2 class="fw-bold fs-1 d-flex align-self-center  ">Send us a message</h2>
    <div class="container">
        <!-- row -->
      <div class="row">
        <!-- Email -->
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email">
          <small class="fw-normal">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group col-md-6">
          <label for="phonenumber">phone number</label>
          <input type="text" class="form-control" id="phonenumber" placeholder="phone number">
          
        </div>
      </div>
      <!-- row -->
      <div class="row">

        <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Full name">
          </div>
        
        
          <div class="form-group col-md-6">
            <label for="companyName">company name</label>
            <input type="text" class="form-control" id="companyName" placeholder="company name">
          </div>
      </div>
      <div class="form-group ">
            <label for="description">Ask us a question</label>
            <textarea class="form-control" id="description" rows="2" placeholder="here you can ask us a question"></textarea>
           </div>
      <button type="submit" class="btn btn-success mt-3">Submit</button>
    </div>

    </form>
  